

<h2>
  <%= @restaurant.name %>
  <small>
  </small>
</h2>

<div class="text-right">
  <%= link_to "Edit", edit_restaurant_path(@restaurant), class: "btn btn-sm btn-light" %>
  <%= link_to "Delete", restaurant_path(@restaurant),
        method: :delete,
        data: { confirm: "Are you sure?" },
        class: "btn btn-sm btn-warning"
  %>
</div>

<p><%= @restaurant.address %></p>
